body {
    width: 400px;
    background: #c3cfe2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    color: black;
    margin: 20px;
    padding: 0;
}

.testimonial {
    width: 450px;
    height: 550px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 5px 10px 18px #888888;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;


    &__text {
        padding-top: 50px;
        padding-left: 40px;
        padding-right: 40px;
        line-height: 40px;
        grid-column: 1;
        grid-row: 1 / -2;
    }

    &__img {
        border: 7px solid #fff;
        border-radius:90%;
        position: absolute;
        top: 320px;
        left: 180px;

    }

    &__footer {
        background:  #686de0;
        grid-column: 1;
        grid-row: 3 / -1;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            color: #fff;
            font-size: 20px;
            letter-spacing: 2px;
            &::after {
                content: "ExampleWebsite.com";
                font-size: 15px;
                color: #c3cfe2;
                display: block;
                line-height: 50px;

            }
        }

    }
}